@import "keep-react/src/main.min.css";

/* color we use */
/* light-bg:E0F4FF */

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg-color {
  background: white;
  color: black !important;
}
.background {
  background-image: url("https://hospitalmanagementsystem.org/images/best-practice-management-system.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.show {
  opacity: 1;
}
.show-image {
  transform: translateY(0);
  opacity: 1;
}
.banner-image-custom-style {
  border-radius: 51% 40% 31% 35%/50% 46% 28% 60%;
}
.popular-doctor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@keyframes animate-slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  /* .table {
    margin-left: 7rem;
  } */
  .popular-doctor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media screen and (max-width: 740px) {
  /* .table {
    margin-left: 7rem;
  } */
  .popular-doctor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .nav-bg-color ul {
    color: rgb(255, 255, 255) !important;
  }
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block !important;
  }
  td {
    text-align: right;
    border: 1px solid black;
  }
  .table tr {
    margin-bottom: 2rem;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    font-weight: bold;
    padding-left: 3rem;
  }
}
@media screen and (max-width: 520px) {
  /* .table {
    margin-left: 7rem;
  } */
  .popular-doctor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block !important;
  }
  td {
    text-align: right;
    border: 1px solid black;
  }
  .table tr {
    margin-bottom: 2rem;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    font-weight: bold;
    padding-left: 3rem;
  }
}
@media screen and (max-width: 380px) {
  .login-button {
    display: none;
  }
  #nav-bg {
    padding: 0 0.5rem;
  }
}
