.footer-wave {
    animation: wave 10s linear infinite;
  }
  
  @keyframes wave {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  